.about {
  background-color: #f9f9f9;
}


.row-tec-icons {
  display: flex;
  flex-direction: row;

}

.row-tec-icons img {
  width: 70px;
  height: 70px;
  margin-right: 40px;
  object-fit: cover;
  border-radius: 10px;
}