.about {
  background-color: #f9f9f9;
}


.row-tec-icons {
  display: flex;
  flex-direction: row;
}

.row-tec-icons img {
  width: 70px;
  height: 70px;
  margin-right: 40px;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .row-tec-icons {
    flex-wrap: wrap;
  }
  .row-tec-icons img {
    margin-top: 20px;
  }
}