.projects {
  background-color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project-list {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.project-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
}

.project-item h3 {
  margin-top: 0;
}

.project-item img {
  width: 500px;
  object-fit: cover;
  border-radius: 10px;
} 

.project-item button {
  margin: 30px;
}
